@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        This website is intended to provide the user with a manner to easily create characters, jobs, and skills for a turn-based RPG.<br />
        Further iterations will implement a combat calculator and (hopefully) a full, turn-based combat simulator using created characters.
        Both of these are in the works, so check back later! (NOTE: If my teacher is reading this, seriously I have a prototype, I just ran out of time for this assignment.)<br />
    </p>
    <br />
    <p>
        This is my first time working on an MVC ASP.NET project, so choosing something inherently interesting to me was crucial for staying motivated
        throughout the learning process. Enjoy!
    </p>
</div>

