@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        This website is intended to provide the user with a manner to easily create characters, jobs, and skills for a turn-based RPG.<br />
    </p>
    <br />
    <p>
        This is my first time working on an MVC ASP.NET project, so choosing something inherently interesting to me was crucial for staying motivated
        throughout the learning process. Enjoy!
    </p>
</div>

