@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    Any data created on this web app is stored locally on your system and is never seen by me. It uses an SQL Server LocalDB, so there's literally no way for me to see what you do.<br />
    Like, this is literally an unhosted web app, what are you even worried about?
</p>
